
@{
    ViewData["Title"] = "All Dishes";
}
@model List<Chef>

<h1>Check out our roster of chefs!</h1>

    <table class="table">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Number of dishes</th>
    </tr>
    @foreach (Chef c in Model)
    {
    <tr>
        <td>@c.FirstName @c.LastName</td>
        <td>@(DateTime.Today.Year - c.BirthDate.Year)</td>
        <td>@c.AllDishes.Count</td>
    </tr>
    }
    </table>
    @* could also just write it out as a string as we have before *@
