@model Dish
@{
    ViewData["Title"] = "New Dish";
}
<h1>Add a New Dish</h1>

<form asp-action-action="CreateDish" asp-controller="Post" method="POST" class="shadow p-3 rounded">
    <div class="d-flex justify-content-center">
        @* col one *@
        <div class="mx-2">
            <div class="mb-5">
                <label asp-for="Chef">Chef's Name:</label>
                <input asp-for="Chef" class="form-control">
                <span class="text-danger" asp-validation-for="Chef"></span>
            </div>
            <div class="mb-5">
                <label asp-for="Name">Name of Dish:</label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-5">
                <label asp-for="Calories">Calories:</label>
                <input asp-for="Calories" class="form-control">
                <span class="text-danger" asp-validation-for="Calories"></span>
            </div>
        </div>
        @* col two *@
        <div class="mx-4">
            <div>
                <div><label asp-for="Tastiness"></label></div>
                <Select asp-for="Tastiness" class="">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=1>3</option>
                    <option value=1>4</option>
                    <option value=1>5</option>
                </Select>
            </div>
        </div>
        @* col three *@
        <div class="mx-3">
            <div>
                <label asp-for="Description"></label>
            </div>
            <div>
                <textarea asp-for="Description" cols="30" rows="10"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button>Add Dish</button>
            </div>
            
        </div>

    </div>

</form>